execute pathogen#infect()
call pathogen#helptags()
syntax on
filetype plugin indent on

colorscheme dracula

let g:UltiSnipsSnippetDirectories=['/path/to/mysnips']
let g:UltiSnipsExpandTrigger="<tab>"
let g:UltiSnipsJumpForwardTrigger="<c-j>"
let g:UltiSnipsJumpBackwardTrigger="<c-k>"
